<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Preview</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/css-cus.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="d-flex justify-content-center">
        <div class="m-3 col-md-3" style="position: relative">
          <h1>Text Box HTML</h1>
          <textarea class="form-control width100 height100" id="htmlcode">

              <div class="container">
                <div class="row justify-content-center">
                  <div class="m-3 col-lg-4 col-md-12">
                    <div class="bg-main-page">
                      <img
                        src="../images/image-promote-main.png"
                        class="img-fluid rounded"
                        alt="promote-image"
                        style="position: relative; top: 470px; left: 36px"
                      />
                    </div>
                  </div>
                  <div
                    class="m-3 col-lg-4 col-md-12 bg-light p-3 rounded overflow-auto"
                    style="font-size: 0.8em"
                  >
                    <div class="row">
                      <div class="col-md-3 text-start"></div>
                      <div class="col-md-6 text-center">
                        <p class="fs-6 fw-bolder">ฝากประจำตามใจ</p>
                      </div>
                      <div class="col-md-3 text-end">
                        <button type="button" class="btn-link tx-btn-link">Share</button>
                      </div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-md-12 img-show-top">
                        <img
                          src="../images/Chat-Bot-warp-2.jpeg"
                          class="img-fluid rounded"
                          alt="Top Image Show"
                        />
                      </div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-md-12">
                        <p class="fs-6 fw-bolder">สิทธิพิเศษเฉพาะคุณ</p>
                        <p class="sub-txt">เงินฝากของคุณ ครบกำหนดในเดือน ม.ค. 63</p>
                      </div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-md-12 img-show-top">
                        <img
                          src="../images/Chat-Bot-warp-2.jpeg"
                          class="img-fluid rounded"
                          alt="Top Image Show"
                        />
                        <div class="row mt-3">
                          <div class="col-md-6">
                            <button type="button" class="btn-cus btn-cus-detail">
                              รายละเอียด
                            </button>
                          </div>
                          <div class="col-md-6">
                            <button type="button" class="btn-cus btn-cus-reg-dep">
                              สมัครกองทุน
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-md-12 img-show-top">
                        <img
                          src="../images/Chat-Bot-warp-2.jpeg"
                          class="img-fluid rounded"
                          alt="Top Image Show"
                        />
                        <div class="row mt-3">
                          <div class="col-md-6">
                            <button type="button" class="btn-cus btn-cus-detail">
                              รายละเอียด
                            </button>
                          </div>
                          <div class="col-md-6">
                            <button type="button" class="btn-cus btn-cus-reg-dep">
                              สมัครกองทุน
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-md-12 img-show-top">
                        <img
                          src="../images/Chat-Bot-warp-2.jpeg"
                          class="img-fluid rounded"
                          alt="Top Image Show"
                        />
                        <div class="row mt-3">
                          <div class="col-md-6">
                            <button type="button" class="btn-cus btn-cus-detail">
                              รายละเอียด
                            </button>
                          </div>
                          <div class="col-md-6">
                            <button type="button" class="btn-cus btn-cus-reg-dep">
                              สมัครกองทุน
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-md-12 img-show-top">
                        <img
                          src="../images/Chat-Bot-warp-2.jpeg"
                          class="img-fluid rounded"
                          alt="Top Image Show"
                        />
                        <div class="row mt-3">
                          <div class="col-md-6">
                            <button type="button" class="btn-cus btn-cus-detail">
                              รายละเอียด
                            </button>
                          </div>
                          <div class="col-md-6">
                            <button type="button" class="btn-cus btn-cus-reg-dep">
                              สมัครกองทุน
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-md-12 img-show-top">
                        <img
                          src="../images/Chat-Bot-warp-2.jpeg"
                          class="img-fluid rounded"
                          alt="Top Image Show"
                        />
                        <div class="row mt-3">
                          <div class="col-md-6">
                            <button type="button" class="btn-cus btn-cus-detail">
                              รายละเอียด
                            </button>
                          </div>
                          <div class="col-md-6">
                            <button type="button" class="btn-cus btn-cus-reg-dep">
                              สมัครกองทุน
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-md-12 img-show-top">
                        <img
                          src="../images/Chat-Bot-warp-2.jpeg"
                          class="img-fluid rounded"
                          alt="Top Image Show"
                        />
                        <div class="row mt-3">
                          <div class="col-md-6 text-center">
                            <button type="button" class="btn-cus btn-cus-detail">
                              รายละเอียด
                            </button>
                          </div>
                          <div class="col-md-6 text-center">
                            <button type="button" class="btn-cus btn-cus-reg-dep">
                              สมัครกองทุน
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            
          </textarea>
        </div>
        <div class="m-3 col-md-3" style="position: relative">
          <h1>Converter</h1>
          <button
            class="btn btn-info font-color-white font-weight-bold"
            onclick="gethtmlcodeconvert(document.getElementById('htmlcode').value)"
          >
            Convert To Scriban
          </button>
        </div>
        <div class="m-3 col-md-3" style="position: relative">
          <h1>Text Box Scriban</h1>
          <textarea
            class="form-control width100 height100"
            id="scribancode"
          ></textarea>
          <!---->
        </div> 
        <div class="m-3 col-md-3" style="position: relative">
          <h1>Text Box Scriban</h1>
          <textarea
            class="form-control width100 height100"
            id="scribancode_compare"
          >{{ i_item_artwork = sc_follow i_item 'Artwork' }} 
          {{ i_item_content = sc_follow i_item 'Content' }}
          
          <div class="container">
            <div class="row justify-content-center">
              <div class="m-3 col-lg-4 col-md-12">
                <div class="bg-main-page">
                  {{ if (sc_field i_item_artwork 'Artwork 1 - Final') != '' sc_field
                  i_item_artwork 'Artwork 1 - Final' [['class', 'img-fluid rounded'],
                  ['style', 'position: relative; top: 470px; left: 36px;']] else if
                  (sc_field i_item_artwork 'Artwork 1 - Daft') != '' sc_field
                  i_item_artwork 'Artwork 1 - Daft' [['class', 'img-fluid rounded'],
                  ['style', 'position: relative; top: 470px; left: 36px;']] else sc_field
                  i_item_artwork 'Artwork 1 - Key Visual' [['class', 'img-fluid rounded'],
                  ['style', 'position: relative; top: 470px; left: 36px;']] end }}
                </div>
              </div>
          
              <div
                class="m-3 col-lg-4 col-md-12 bg-light p-3 rounded overflow-auto"
                style="font-size: 0.8em"
              >
                <div class="row">
                  <div class="col-md-3 text-start"></div>
                  <div class="col-md-6 text-center">
                    <p class="fs-6 fw-bolder">ฝากประจำตามใจ</p>
                  </div>
                  <div class="col-md-3 text-end">
                    <a
                      href="{{ sc_field i_item_content 'Share_URL' }}"
                      target="_blank"
                      class="btn btn-link tx-btn-link"
                      >Share</a
                    >
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-md-12 img-show-top">
                    {{ if (sc_field i_item_artwork 'Artwork 2 - Final') != '' sc_field
                    i_item_artwork 'Artwork 2 - Final' [['class', 'img-fluid rounded']]
                    else if (sc_field i_item_artwork 'Artwork 2 - Daft') != '' sc_field
                    i_item_artwork 'Artwork 2 - Daft' [['class', 'img-fluid rounded']]
                    else sc_field i_item_artwork 'Artwork 2 - Key Visual' [['class',
                    'img-fluid rounded']] end }}
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-md-12">
                    <p class="fs-6 fw-bolder">สิทธิพิเศษเฉพาะคุณ</p>
                    <p class="sub-txt">เงินฝากของคุณ ครบกำหนดในเดือน ม.ค. 63</p>
                  </div>
                </div>
          
                <div class="row mt-2">
                  <div class="col-md-12 img-show-top">
                    {{ if (sc_field i_item_artwork 'Artwork 3 - Final') != '' sc_field
                    i_item_artwork 'Artwork 3 - Final' [['class', 'img-fluid rounded']]
                    else if (sc_field i_item_artwork 'Artwork 3 - Daft') != '' sc_field
                    i_item_artwork 'Artwork 3 - Daft' [['class', 'img-fluid rounded']]
                    else sc_field i_item_artwork 'Artwork 3 - Key Visual'
                    [['class','img-fluid rounded']] end }}
                    <div class="row mt-3">
                      <div class="col-md-6 text-center">
                        <a
                          href="{{ sc_field i_item_content 'Button_Action_URL_1_1' }}"
                          class="btn btn-cus btn-cus-detail"
                          target="_blank"
                        >
                          {{ sc_field i_item_content 'Button_Label1_1' }}
                        </a>
                      </div>
                      <div class="col-md-6 text-center">
                        <a
                          href="{{ sc_field i_item_content 'Button_Action_URL_2_1' }}"
                          class="btn btn-cus btn-cus-reg-dep"
                          target="_blank"
                        >
                          {{ sc_field i_item_content 'Button_Label2_1' }}
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-md-12 img-show-top">
                    {{ if (sc_field i_item_artwork 'Artwork 4 - Final') != '' sc_field
                    i_item_artwork 'Artwork 4 - Final' [['class', 'img-fluid rounded']]
                    else if (sc_field i_item_artwork 'Artwork 4 - Daft') != '' sc_field
                    i_item_artwork 'Artwork 4 - Daft' [['class', 'img-fluid rounded']]
                    else sc_field i_item_artwork 'Artwork 4 - Key Visual'
                    [['class','img-fluid rounded']] end }}
                    <div class="row mt-3">
                      <div class="col-md-6 text-center">
                        <a
                          href="{{ sc_field i_item_content 'Button_Action_URL_1_2' }}"
                          class="btn btn-cus btn-cus-detail"
                          target="_blank"
                        >
                          {{ sc_field i_item_content 'Button_Label1_2' }}
                        </a>
                      </div>
                      <div class="col-md-6 text-center">
                        <a
                          href="{{ sc_field i_item_content 'Button_Action_URL_2_2' }}"
                          class="btn btn-cus btn-cus-reg-dep"
                          target="_blank"
                        >
                          {{ sc_field i_item_content 'Button_Label2_2' }}
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-md-12 img-show-top">
                    {{ if (sc_field i_item_artwork 'Artwork 5 - Final') != '' sc_field
                    i_item_artwork 'Artwork 5 - Final' [['class', 'img-fluid rounded']]
                    else if (sc_field i_item_artwork 'Artwork 5 - Daft') != '' sc_field
                    i_item_artwork 'Artwork 5 - Daft' [['class', 'img-fluid rounded']]
                    else sc_field i_item_artwork 'Artwork 5 - Key Visual'
                    [['class','img-fluid rounded']] end }}
                    <div class="row mt-3">
                      <div class="col-md-6 text-center">
                        <a
                          href="{{ sc_field i_item_content 'Button_Action_URL_1_3' }}"
                          class="btn btn-cus btn-cus-detail"
                          target="_blank"
                        >
                          {{ sc_field i_item_content 'Button_Label1_3' }}
                        </a>
                      </div>
                      <div class="col-md-6 text-center">
                        <a
                          href="{{ sc_field i_item_content 'Button_Action_URL_2_3' }}"
                          class="btn btn-cus btn-cus-reg-dep"
                          target="_blank"
                        >
                          {{ sc_field i_item_content 'Button_Label2_3' }}
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-md-12 img-show-top">
                    {{ if (sc_field i_item_artwork 'Artwork 6 - Final') != '' sc_field
                    i_item_artwork 'Artwork 6 - Final' [['class', 'img-fluid rounded']]
                    else if (sc_field i_item_artwork 'Artwork 6 - Daft') != '' sc_field
                    i_item_artwork 'Artwork 6 - Daft' [['class', 'img-fluid rounded']]
                    else sc_field i_item_artwork 'Artwork 6 - Key Visual'
                    [['class','img-fluid rounded']] end }}
                    <div class="row mt-3">
                      <div class="col-md-6 text-center">
                        <a
                          href="{{ sc_field i_item_content 'Button_Action_URL_1_4' }}"
                          class="btn btn-cus btn-cus-detail"
                          target="_blank"
                        >
                          {{ sc_field i_item_content 'Button_Label1_4' }}
                        </a>
                      </div>
                      <div class="col-md-6 text-center">
                        <a
                          href="{{ sc_field i_item_content 'Button_Action_URL_2_4' }}"
                          class="btn btn-cus btn-cus-reg-dep"
                          target="_blank"
                        >
                          {{ sc_field i_item_content 'Button_Label2_4' }}
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-md-12 img-show-top">
                    {{ if (sc_field i_item_artwork 'Artwork 7 - Final') != '' sc_field
                    i_item_artwork 'Artwork 7 - Final' [['class', 'img-fluid rounded']]
                    else if (sc_field i_item_artwork 'Artwork 7 - Daft') != '' sc_field
                    i_item_artwork 'Artwork 7 - Daft' [['class', 'img-fluid rounded']]
                    else sc_field i_item_artwork 'Artwork 7 - Key Visual'
                    [['class','img-fluid rounded']] end }}
                    <div class="row mt-3">
                      <div class="col-md-6 text-center">
                        <a
                          href="{{ sc_field i_item_content 'Button_Action_URL_1_5' }}"
                          class="btn btn-cus btn-cus-detail"
                          target="_blank"
                        >
                          {{ sc_field i_item_content 'Button_Label1_5' }}
                        </a>
                      </div>
                      <div class="col-md-6 text-center">
                        <a
                          href="{{ sc_field i_item_content 'Button_Action_URL_2_5' }}"
                          class="btn btn-cus btn-cus-reg-dep"
                          target="_blank"
                        >
                          {{ sc_field i_item_content 'Button_Label2_5' }}
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <!---->
              </div>
            </div>
          </div>
          </textarea>
          <!---->
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div id="divpreview" style="clear: both"></div>

    <script>
      $(document).ready(function () {
        // Handler for .ready() called.
        Preview();
        Convert();
        $("#htmlcode").change(function () {
          Preview();
          Convert();
        });
      });

      function Preview() {
        let valscript = $("#htmlcode").val();
        $("#divpreview").html(valscript);
      }
      function Convert() {
        let valscript = $("#htmlcode").val();

        const valuescriban = gethtmlcodeconvert(valscript);

        $("#scribancode").val(valuescriban);
      }
      function gethtmlcodeconvert(valscript) {
        //document.getElementById("scribancode").value = htmlcode;

        var valuescriban = `
        {{ i_item_artwork = sc_follow i_item 'Artwork' }} 
          {{ i_item_content = sc_follow i_item 'Content' }}

        `+valscript;

        const regexp = new RegExp('<img(.|[\n\r])/>','g');
        let match;

        while ((match = regexp.exec(valuescriban)) !== null) {
          console.log(`Found ${match[0]} start=${match.index} end=${regexp.lastIndex}.`);


          // expected output: "Found football start=6 end=14."
          // expected output: "Found foosball start=16 end=24."
        }
        /*for (let j = 0; j < valscript.length; j++) {
          //code here using lines[i] which will give you each line
          let strcheck = valscript[j].substring(0, 4);
          //* Syntax Scriban Comment ไม่จำเป็นต้องเป็นบรรทัดเดียวกัน
          if (strcheck === "<!--") {
            valscript[j] = valscript[j].replace("<!--", "");
            let strlastcheck = "";
            while (strlastcheck !== "-->") {
              strlastcheck = valscript[j].substring(
                valscript[j].length - 3,
                valscript[j].length
              );
              if (strlastcheck === "-->") {
                valscript[j] = valscript[j].replace("-->", "");
                valuescriban += valscript[j] + "\n";
              } else {
                valuescriban += valscript[j];
                //หากไม่ต้องการให้ Syntax ที่ Comment อยู่บรรทัดเดียวกัน
                valuescriban += "\n";
              }

              j++;
            }
            j++;
            // Check Syntax HTML NextLine to Convert Comment With Scriban
            // let strhtmlcheck = valscript[j].substring(0, 7);
            // if (strhtmlcheck === "<!---->") {
            //   valscript[j] = valscript[j].replace("<!---->", "<!--");
            //   let strlastcheck = "";
            //   while (strlastcheck !== "-->") {
            //     strlastcheck = valscript[j].substring(
            //       valscript[j].length - 7,
            //       valscript[j].length
            //     );
            //     if (strlastcheck === "<!---->") {
            //       valscript[j] = valscript[j].replace("<!---->", "-->");
            //       valuescriban += valscript[j] + "\n";
            //     } else {
            //       valuescriban += valscript[j];
            //       //หากไม่ต้องการให้ Syntax ที่ Comment อยู่บรรทัดเดียวกัน
            //       valuescriban += "\n";
            //     }

            //     j++;
            //   }
            // }
            //end
          }
         
          //* Syntax Scriban Comment ต้องเป็นบรรทัดเดียวกันทั้งหมด เช่น <!-- Syntax Comment -->
          // if (strcheck === "<!--") {
          //   let k = 0;
          //   while (k != 2) {
          //     if (j % 2 == 0) {
          //       valscript[j] = valscript[j].replace("<!--", "");
          //       valscript[j] = valscript[j].replace("-->", "");
          //       valuescriban += valscript[j] + "\n";
          //     }
          //     //หากต้องการแค่ comment HTML Code โดยไม่ลบ
          //     // else {

          //     //   valscript[j] = valscript[j].replace("", "<!--");
          //     //   //valscript[j] = valscript[j].replace(/.$/, "-->");
          //     //   valscript[j] += "-->";
          //     // }
          //     // valuescriban += valscript[j] + "\n";
          //     j++;
          //     k++;
          //   }
          // }
          valuescriban += valscript[j] + "\n";
        } //*/

        return valuescriban;
      }
    </script>
  </body>
</html>
